body{
			margin: 0;
			padding: 0;
      background-color: #c5ffc0;
		}
		.container{
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
      width:350px;
      height:550px;
		}
		.tble{
			position: absolute;
			bottom: 0;
			border-bottom: 100px solid #f2a65a;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			height: 0;
			width: 290px;
		}
		.calndr{
			position: absolute;
			top: 40px;
			left: 20px;
			height:65px;
			width: 70px;
			background-color: #fff;
		}
		span{
			position: absolute;
			height:14px;
			width: 70px;
			background-color: #89aaff;
		}
		.b1{
			margin: 3px 9px;
			width: 55px;
			background-image: repeating-linear-gradient(to left, #fff 20%, #799aff 40%);
		}
		.cup{
			position: relative;
			top: -25px;
			left: 20px;
			height:40px;
			width: 30px;
			background-color: #d9d0ff;
			border-radius: 0 0 20% 20%;
			opacity: 0.8;
		}
		.cup:before{
			height: 32px;
			content: '';
			position: absolute;
			bottom: 0;
			left: 1px;
			width: 28px;
			background-color: #ff664a;
			border-radius: 10% 10% 20% 20%;
		}
		.lamp{
			position: absolute;
			top: -110px;
			left: 220px;
			height:150px;
			width: 60px;
		}
		.lamp-s{
			position: relative;
			top: 20px;
			left: 40px;
			height:130px;
			width: 10px;
			background-color: #8876fa;
			border-radius: 20% 20%;
		}
		.lamp-s1{
			position: relative;
			top: -110px;
			left: 20px;
			height:10px;
			width: 30px;
			background-color: #8876fa;
			border-radius: 20% 20%;
		}
		.lamp-b, .lamp-t{
			position: relative;
			top: 0px;
			left: 20px;
			height:0px;
			width: 30px;
			border-bottom: 22px solid #8876fa;;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}
		.lamp-t{
			top: -140px;
			left: -10px;
			transform: rotate(45deg);
		}
		.lamp-l{
			position: absolute;
			top: 25px;
			left: -10px;
			height:30px;
			width: 30px;
			border-radius: 50%;
			background-color: #f8ff00;
			box-shadow: 0 -3px 3px #ffe500, 3px 0 3px #ffe500, 0 3px 3px #fe0, -3px 0 3px #fe0;
			transform: rotate(45deg);
		}
		.book{
			position: absolute;
			top: -50px;
			left: 130px;
			width: 10px;
			height: 80px;
			background-color: brown;
			z-index: 2;
		}
		.book:before{
			height: 60px;
			content: '';
			width: 0px;
			border-left: 40px solid #f00;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			position: absolute;
			top: 0px;
			left: 10px;
		}
		.book:after{
			height: 60px;
			content: '';
			width: 0px;
			border-right: 40px solid #f00;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			position: absolute;
			top: 0px;
			left: -40px;
		}
		.hair{
			position: absolute;
			top: 320px;
			left: 125px;
			width: 80px;
			height: 100px;
			background-color: #000;
			border-radius: 50% 50% 0 0;
		}
		.face{
			position: relative;
			top: 30px;
			left: 15px;
			width: 50px;
			height: 60px;
			background-color: #ffd8d8;
			border-radius: 20% 20% 50% 50%;
		}
		.eye1, .eye2{
			position: relative;
			top: 10px;
			left: 6px;
			width: 16px;
			height: 16px;
			background-color: #fff;
			border-radius: 50%;
		}
		.eye2{
			top: -6px;
			left: 30px;
		}
		.d1{
			position: relative;
			top: 3px;
			left: 3px;
			width: 12px;
			height: 12px;
			background-color: #000;
			border-radius: 50%;
		}
		.d2{
			position: relative;
			top: 5px;
			left: 5px;
			width: 5px;
			height: 5px;
			background-color: #fff;
			border-radius: 50%;
			animation: move 3s linear infinite;
		}
		@keyframes move{
			0%{left: 5px;}
			50%{left: 3px;}
			100%{left: 1px;}
		}
		.mouth{
			position: relative;
			top: 10px;
			left: 20px;
			height: 0px;
			width: 10px;
			border-radius: 50%;
			border-bottom: 4px solid #d00;
		}
		.txt{
			font-weight: bolder;
			font-family: cursive;
			font-size: 2.5em;
			color: #e00;
			background-color: transparent;
			position: absolute;
			margin: 0 auto;
			top: 80px;
			left: 0;
			right: 0;
		}
		ul{
			margin: 0;
			padding: 0;
			position: absolute;
			top: -15px;
			left: 0px;
		}
		ul li{
			list-style: none;
			width: 5px;
			height: 20px;
			background-color: #fff;
			border-radius: 20%;
			opacity: 0.8;
			margin: 5px;
			float: left;
			animation: smoke 4s linear infinite;
		}
		@keyframes smoke{
			0%{transform: translateY(0%);
				opacity: 0.8;}
			100%{transform: translateY(-80%);
				opacity: 0;}
		}
		ul li:nth-child(2){
			animation-delay: 2s;
        }
